<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-10 col-md-5 col-md-offset-1">
			<canvas width="500" height="400" style="border:1px solid #000000;"></canvas>
		</div>
		<div class="col-sm-10 col-md-5 col-md-offset-1">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-md-offset-1">
					<textarea cols="40" rows="9"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-md-offset-1">
					<textarea cols="40" rows="10"></textarea>
					<button id="code-submit" ng-click="interpret()" class="btn btn-default">Begin</button>
				</div>
			</div>
		</div>
	</div>
</div>