body {
	padding-top: 70px;
	padding-bottom: 70px;
}

#canvas-pad {
	/*text-align: center;*/
	position: relative;
}

#canvas-pad canvas {
	width: 500px;
	height: 400px;
	border: 1px solid rgb(221, 221, 221);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#console-pad {
	padding-left: 50px;
}

#result-pad {
	width: 100%;
	height: 200px;
	border: 1px solid rgb(221, 221, 221);
	margin-bottom: -6px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#code-pad {
	width: 90%;
	height: 200px;
	float: left;
	border: 1px solid rgb(221, 221, 221);
	border-right: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
}

#submit {
	width: 10%;
	height: 200px;
	float: right;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}