#gallery html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}

#gallery body {
  background-color:#e6e6e6;
  color:#FFF;
  font-weight:100;
  margin:0;
  min-height:100%;
  width:100%;
}

#gallery footer {
    background-color: rgba(33, 33, 33, 0.9);
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font: 14px/1.3 Arial,sans-serif;
    height: 50px;
    position: fixed;
    width: 100%;
}

#gallery footer h2{
    font-size: 22px;
    margin: 0px auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}

#gallery footer a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

#gallery .arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
#gallery .arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
#gallery .arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
#gallery .arrow.prev:hover{
    opacity:1;
}
#gallery .arrow.next:hover{
    opacity:1;
}

#gallery .nav {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
#gallery .nav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
#gallery .nav li.active {
    border: 5px solid #FFFFFF;
}
#gallery .nav li img {
    width: 100%;
}

#gallery .slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#gallery .slide {
    position: absolute;
    top: 0;
    left: 0;
}
#gallery .slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
#gallery .slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
#gallery .slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
#gallery .slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

@media (max-width: 900px) {
    #gallery .logo img {
        width: 60%;
    }
    #gallery .slider {
        height: 312px;
        width: 500px;
    }
    #gallery .slider .slide {
        width: 100%;
    }
}
@media (max-width: 550px) {
    #gallery .logo img {
        width: 60%;
    }
    #gallery .slider {
        height: 188px;
        width: 300px;
    }
    #gallery .slider .slide {
        width: 100%;
    }
    #gallery .nav {
        height: 28px;
    }
    #gallery .nav li {
        border: 3px solid #AAAAAA;
        border-radius: 3px;
        height: 15px;
        width: 25px;
    }
}
