body {
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar {
	background-color: #ffe5a5;
	border-color: #ffb515;
}

.navbar .dropdown {
	cursor: pointer;
}

.navbar .open .dropdown-toggle {
	background-color: #ffe9b5;
}

.navbar a {
	color: #df3505 !important;
	font-family: "Avenir Next", "Segoe UI", sans-serif !important;
}

.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .btn {
	border-color: #ffb515;
}

.navbar .btn:hover {
	background-color: #fffff5;
}

#homepage #hello {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: rgb(255, 255, 238);
}

#homepage .caption {
	text-align: center;
}

#homepage a:hover {
	text-decoration: none;
}

#homepage a:hover h3 {
	color: #ffb515;
}

#play {
	margin-top: 20px;
}

#play #canvas-pad {
	border-color: rgb(91, 184, 92);
}

#play #canvas-pad canvas {
	width: 500px;
	height: 400px;
	position: absolute;
	border: 4px solid rgb(91, 192, 222);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#play #console-pad {
	padding-left: 50px;
	/*position: relative;*/
}

#play #result-pad {
	width: 100%;
	height: 204px;
	border: 4px solid rgb(91, 184, 92);
	margin-bottom: -4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 6px 10px;
	font-family: Menlo, Consolas, "Ubuntu Mono", monospace;
	overflow: auto;
}

#play #code-pad {
	width: 90%;
	height: 200px;
	border: 4px solid rgb(91, 184, 92);
	/*border-right: 0;*/
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	outline: none;
	padding: 6px 10px;
	resize: none;
	float: left;
	font-family: Menlo, Consolas, "Ubuntu Mono", monospace;
}

#play #code-pad-wrapper {
	margin-right: -4px;
}

#play #submit {
	width: 10%;
	height: 200px;
	float: right;
	margin-left: -4px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#play #control-buttons {
	text-align: center;
	/*font-family: Menlo, Consolas, "Ubuntu Mono", monospace;*/
}

#play #slider-line {
	margin: 5px 15px;
}

#play #line-tip {
	width: 50px;
	border-radius: 4px;
}

#play #slider-delay {
	margin: 5px 15px;
}

#play #delay-tip {
	width: 50px;
	border-radius: 4px;
}

#play #img-input {
	display: none;
}

#play #result-pad {
	padding: 0;
}

#play #result-pad .item {
	padding: 10px;
}

#play #result-pad .item p,
#play #result-pad .item pre {
	margin: 4px 0;
}

#play #result-pad .item:nth-child(odd) {
}

#play #result-pad .item:nth-child(odd):hover {
	background-color: #fcfcfc;
}

#play #result-pad .item:nth-child(even) {
	background-color: #f9f9f9;
}

#play #result-pad .item:nth-child(even):hover {
	background-color: #f4f4f4;
}

#play #result-pad .error {
	color: #d9534f;
	font-family: "Avenir Next", "Segoe UI", sans-serif;
}

#play #result-pad .error strong {
	font-family: Menlo, Consolas, "Ubuntu Mono", monospace;
}

#play #result-pad .error p {
	color: #428bca;
}

#profile-image {
	float:left;
	margin-left: -100px;
	margin-top: 50px;
}

#profile-name {
	margin-top: 50px;
	display: block;
}
