body {
	padding-top: 70px;
	padding-bottom: 70px;
}

#homepage #hello {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/*background-color: rgb(204, 255, 204);*/
}

#homepage .caption {
	text-align: center;
}

#homepage a:hover {
	text-decoration: none;
}

#homepage a:hover h3 {
	color: #ffb515;
}

#play {
	margin-top: 20px;
}

#play #canvas-pad {
	/*text-align: center;*/
	position: relative;
}

#play #canvas-pad canvas {
	width: 500px;
	height: 400px;
	border: 1px solid rgb(221, 221, 221);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#play #console-pad {
	padding-left: 50px;
	/*position: relative;*/
}

#play #result-pad {
	width: 100%;
	height: 200px;
	border: 1px solid rgb(221, 221, 221);
	margin-bottom: -6px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 6px 10px;
	resize: none;
	font-family: Menlo, Consolas, "Ubuntu Mono", monospace;
	overflow: auto;
}

#play #code-pad {
	width: 90%;
	height: 200px;
	float: left;
	border: 1px solid rgb(221, 221, 221);
	border-right: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	outline: none;
	padding: 6px 10px;
	resize: none;
	font-family: Menlo, Consolas, "Ubuntu Mono", monospace;
}

#play #submit {
	width: 10%;
	height: 200px;
	float: right;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#play #control-buttons {
	text-align: center;
	/*font-family: Menlo, Consolas, "Ubuntu Mono", monospace;*/
}

#play #slider-line {
	margin: 5px 15px;
}

#play #line-tip {
	width: 50px;
	border-radius: 4px;
}

#play #slider-delay {
	margin: 5px 15px;
}

#play #delay-tip {
	width: 50px;
	border-radius: 4px;
}

#play #imgInput {
	display: none;
}

#profile-image {
	float:left;
	margin-left: -100px;
	margin-top: 50px;
}

#profile-name {
	margin-top: 50px;
	display: block;
}