<div id="about" class="container">
	<h2>About Logo</h2>
	<p class = "ref" id = "about_wiki"><b>Logo</b> is an educational programming language,
	designed in 1967 by <b>Daniel G. Bobrow</b>, <b>Wally Feurzeig</b>, <b>Seymour Papert</b>
	and <b>Cynthia Solomon</b>. Today the language is remembered mainly for its
	use of "turtle graphics", in which commands for movement and drawing
	produced line graphics either on screen or with a small robot called
	a "turtle". The language was originally conceived to teach concepts of
	programming related to LISP and only later to enable what Papert called
	"<i>body-syntonic reasoning</i>" where students could understand (and predict and
	reason about) the turtle's motion by imagining what they would do if they
	were the turtle. There are substantial differences between the many dialects
	of Logo, and the situation is confused by the regular appearance of turtle
	graphics programs that mistakenly call themselves Logo.
	<br />
	<a href="http://en.wikipedia.org/wiki/Logo_(programming_language)">Wikipedia.org</a></p>
	<p>Briefly, Logo is a light weighted programming language based on graphics.
	The propose of learning this language is to improve the students' mathematics skills,
	especially the plane geometry skills, and to teach them the basic programming knowledge.</p>

	<p>The basic commands in Logo are action-based, such as "<b>fd</b>"(forward) and
	"<b>lt</b>"(turn left). By using these commands, the turtle on screen would move
	in the ways the user orders step by step. If the commands input have been well
	designed, amazing figures could be drawn by just a few lines.</p>

	<p>Besides the very basic commands, Logo support some advanced statements. Most common
	statements in other programming languages could be found in Logo, such as "<b>repeat</b>"
	and "<b>if</b>". By using these statements, more complex and organized graphics can be easily
	implemented.</p>

	<p>What is more, some variables or methods can be defined and called by the user.
	These variables and methods can make the programs more flexible, some more complicated
	problems could be solved using the combination of all these functions.</p>

	<p><b>Some graphs built by Logo:</b></p>
	<br />
		<div class="row">
			<div class="col-sm-6 col-md-3" data-ng-repeat="sample in samples">
				<div class="thumbnail">
					<img data-ng-src="{{ sample.src }}" />
					<div class="caption">
						<p>{{ sample.name }}</p>
					</div>
				</div>
			</div>
		</div>
	<br />
	<p>In a words, Logo is an educational programming language for teenagers and those who want to
	learn programming. This language is visualized and powerful, and could be a nice tool to get
	familiar with the world of programming.</p>

	<br />
	<h2>About this site</h2>
	<p>This website is an online Logo IDE with some other interesting figures. You can learn Logo,
	write Logo, and share your master piece with your friends on Facebook and Twitter. You can view the works
	done by others and communicate with them in Galley. Hope you have a good time here.</p>

	<br />
	<h2>About us</h2>
	<p>We are a group of undergraduate students major in Computing Science in Simon Fraser University and
	Zhejiang University. This site is our first product, so there could be some bugs or designing problems.
	You are welcome to <a href = "yeluyupt@gmail.com">Contact Us</a> if you find any problems or
	have any suggestions. Hope to see you in our following products.</p>
</div>
