<div id="account" class="container">
	<h1>Account</h1>

	<form accept-charset="UTF-8" action="/account" method="post">
		<div>
			<div class="form-field">
				<img src="{{ user.avatar }}"/>
			</div>
			<div class="form-field">
				<fieldset>
					<label for="email">Email</label>
					<input id="email" type="text" name="email" value="{{ user.email }}"/>
				</fieldset>
			</div>
			<div class="form-field">
				<fieldset>
					<label for="name">Name</label>
					<input id="name" type="text" name="name" value="{{ user.name }}"/>
				</fieldset>
			</div>
			<div class="form-btns">
				<input class="form-sub" type="submit" value="Update"/>
			</div>
		</div>
	</form>
	
	<form accept-charset="UTF-8" action="/account/password" method="post">
		<div>
			<fieldset>
				<label for="old_password">Old Password</label>
				<input id="user_old_password" name="user[old_password]" size="30" type="password"/>
			</fieldset>
			<fieldset>
				<label for="password">New Password</label>
				<input id="user_password" name="user[password]" size="30" type="password"/>
				<p class="message">Minimum 6 characters</p>
			</fieldset>
			<fieldset>
				<label for="password">Confirm New Password</label>
				<input id="user_password" name="user[password]" size="30" type="password"/>
			</fieldset>
			<div class="form-btns">
				<input class="form-sub" name="commit" type="submit" value="Change"/>
			</div>
		</div>
	</form>
</div>