<div id="gallery" class="container">
	<h1>gallery page</h1>
	<div class="bs-example">
		<div class="row">
			<!-- extra navigation controls -->
			 <div class="photo">
					<div ng-repeat="photo in photos" class="col-xs-6 col-md-5">
						<a href="#" class="thumbnail"><img ng-src="{{photo.src}}" alt="500x400" style="height: 400px; width: 500px; display: block;"></a>
						<p><a href="#" class="btn btn-primary" role="button">Like</a> <a href="#" class="btn btn-default" role="button">Detail</a></p>
					</div>
			</div>
		</div>
	</div>
</div>
