<div id="gallery" class="container">
	<h1>Gallery</h1>
	<div class="bs-example">
				<ul class="pagination">
					<li ng-class="prevPageDisabled()">
						<a href ng-click="prevPage()"> « Prev</a>
					</li>
					<li ng-repeat="n in [] | range:pageCount()"><a href ng-click="setPage({{n}})">{{n+1}} </a></li>
					<li ng-class="nextPageDisabled()">
						<a href ng-click="nextPage()">Next »</a>
					</li>
				</ul>
		<div class="row">
			 <ui class="photo">
					<li ng-repeat="photo in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" class="col-xs-6 col-md-5">
						<a ng-href="#/gallerylist/{{photo._id}}" class="thumbnail"><img ng-src="{{ photo.image_url }}" alt="500x400" style="height: 400px; width: 500px; display: block;"></a>
						<p><button class="btn btn-primary"  ng-click="addone({{ photo }})">Like ({{ photo.like }})</button></p>
					</li>
			</ui>
		</div>

	</div>
</div>
