<div id="homepage" class="container">
	<div id="hello" class="jumbotron">
		<h1>Hello, LOGO</h1>
		<p>Logo is an educational programming language. It is very easy and with lots of fun! By typing some Logo commands, you are able to make the little turtle move. And then, you can leave whatever track you want on canvas.
		<b>Wanna learn more about how to draw a beautiful and exciting pattern? Here is the <a href="#/tutorial/1/">tutorial</a></b></p>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-4">
			<a href="#/about">
				<div class="thumbnail">
					<img src="images/turtle-red.png">
					<div class="caption">
						<h3>What is LOGO?</h3>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-4 col-md-4">
			<a href="#/tutorial/1/">
				<div class="thumbnail">
					<img src="images/turtle-green.png">
					<div class="caption">
						<h3>Dive into LOGO</h3>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-4 col-md-4">
			<a href="#/play">
				<div class="thumbnail">
					<img src="images/turtle-blue.png">
					<div class="caption">
						<h3>Rock with Turtle</h3>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>