<div id="library" class="container">
	<h2>forward / fd</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> forward<br/>
			<span class="type_style_Shortcut">Shortcut</span> fd<br/>
			<span class="type_style_Related">Related</span> back<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			forward <span class="type_style_number">number</span><br/>
			fd <span class="type_style_number">number</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>forward</b> or <b>fd</b> means "move forward". The opposite command
			is <b>back</b> or <b>bk</b>. By using this command, the turtle will
			move forward for <span class="type_style_number">number</span>
			pixels.<br/>
		</p>

		<h3>Example:</h3>
		<code>fd 50</code>
		<h4><img src="/images/library_samples/fd.png"></h4><br/>

	<h2>back / bk</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> back<br/>
			<span class="type_style_Shortcut">Shortcut</span> bk<br/>
			<span class="type_style_Related">Related</span> forward<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			back <span class="type_style_number">number</span><br/>
			bk <span class="type_style_number">number</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>back</b> or <b>bk</b> means "move backward". It is just the opposite
			to <b>forward</b> or <b>fd</b>. By using this command, the turtle will
			move backward for <span class="type_style_number">number</span>
			pixels.<br/>
		</p>

		<h3>Example:</h3>
		<code>bk 60</code>
		<h4><img src="/images/library_samples/bk.png"></h4><br/>

	<h2>left / lt</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> left<br/>
			<span class="type_style_Shortcut">Shortcut</span> lt<br/>
			<span class="type_style_Related">Related</span> right<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			left <span class="type_style_number">number</span><br/>
			lt <span class="type_style_number">number</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>left</b> or <b>lt</b> means "turn left". The opposite command
			would be <b>right</b> or <b>rt</b>. By using this command, the turtle will
			turn left for <span class="type_style_number">number</span>
			degrees.<br/>
		</p>

		<h3>Example:</h3>
		<code>lt 70 fd 50</code>
		<h4><img src="/images/library_samples/lt.png"></h4><br/>

	<h2>right / rt</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> right<br/>
			<span class="type_style_Shortcut">Shortcut</span> rt<br/>
			<span class="type_style_Related">Related</span> left<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			right <span class="type_style_number">number</span><br/>
			rt <span class="type_style_number">number</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>right</b> or <b>rt</b> means "turn right", which is the opposite to
			<b>left</b> or <b>lt</b>. By using this command, the turtle will
			turn right for <span class="type_style_number">number</span>
			degrees.<br/>
		</p>

		<h3>Example:</h3>
		<code>rt 90 fd -50</code>
		<h4><img src="/images/library_samples/rt.png"></h4><br/>

	<h2>make</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> make<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			make "<span class="type_style_variable">variable</span> <span class="type_style_expression">expression</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>make</b> can be used to assign a value to a <span class="type_style_variable">variable</span>,
			and you may used this <span class="type_style_variable">variable</span> in the following
			program. It may be hard to understand what is so called <span class="type_style_variable">variable</span>.
			See the examples below and hopefully you will know the power of a <span class="type_style_variable">variable</span>.<br/>
		</p>

		<h3>Example:</h3>
		<code>make "A 30 fd :A</code>
		<h4><img src="/images/library_samples/make.png"></h4><br/>

	<h2>if</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> if<br/>
			<span class="type_style_Related">Related</span> else<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			if <span class="type_style_condition">condition</span> [<span class="type_style_commands">commands</span>]<br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>if</b> is a very classical conditional statement. You can see this statement
			in almost every programming language. The <span class="type_style_commands">commands</span>
			would be executed only if the <span class="type_style_condition">condition</span> is true.
			What if your want to execute other commands when the <span class="type_style_condition">condition</span>
			is false? See <b>else</b> and you will get the answer.<br/>
		</p>

		<h3>Example:</h3>
		<code>fd 30 <br>
			make "A 1 <br>
			if :A>0 [lt -90]<br>
			bk -40</code>
		<h4><img src="/images/library_samples/if.png"></h4><br/>

	<h2>else</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> else<br/>
			<span class="type_style_Related">Related</span> if<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			if <span class="type_style_condition">condition</span> [<span class="type_style_commands">commands</span>]
			else [<span class="type_style_commands">commands</span>]<br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>else</b> can not be used individually without <b>if</b> statement.
			By using <b>else</b> statement, you can assign <span class="type_style_commands">commands</span>
			to execute not only when the <span class="type_style_condition">condition</span> is true,
			but also when it is false.<br/>
		</p>

		<h3>Example:</h3>
		<code>bk 50 <br>
			make "A 1 <br>
			if :A>2 [rt 60] else [lt 60] <br>
			fd 50</code>
		<h4><img src="/images/library_samples/else.png"></h4><br/>

	<h2>repeat</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> repeat<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			repeat <span class="type_style_number">number</span> [<span class="type_style_commands">commands</span>]<br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>repeat</b> in Logo can be considered as a simple version of <b>for</b> statement
			in other languages. The <span class="type_style_commands">commands</span>
			would be executed for <span class="type_style_number">number</span> times.
			Although any real number can be accepted as the <span class="type_style_number">number</span>
			parameter by the compiler. You are still encouraged to use a none negative integer.<br/>
		</p>

		<h3>Example:</h3>
		<code>repeat 36 <br>
[ <br>
    lt 10 <br>
    fd 10 <br>
]</code>
		<h4><img src="/images/library_samples/repeat.png"></h4><br/>

	<h2>penup / pu</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> penup<br/>
			<span class="type_style_Shortcut">Shortcut</span> pu<br/>
			<span class="type_style_Related">Related</span> pendown<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			penup<br/>
			pu<br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>penup</b> or <b>pu</b> is used to "pick up" the turtle from the canvas.
			After using this command, the following movement of the turtle will
			not be drawn on canvas, although the turtle will still move follow the commands.
			What if you want to "put down" the turtle? Use <b>pendown</b>!<br/>
		</p>

		<h3>Example:</h3>
		<code>make "A 0 <br>
repeat 36 <br>
[ <br>
    lt 10 <br>
    fd 10 <br>
    if :A>20 pu <br>
    make "A :A+1 <br>
]</code>
		<h4><img src="/images/library_samples/pu.png"></h4><br/>

	<h2>pendown / pd</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> pendown<br/>
			<span class="type_style_Shortcut">Shortcut</span> pd<br/>
			<span class="type_style_Related">Related</span> penup<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			pendown<br/>
			pd<br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>pendown</b> or <b>pd</b> is used to "put down" the turtle onto the canvas
			after <b>penup</b> has been used. You do not need to initialize the canvas
			because the turtle is "down" by default.<br/>
		</p>

		<h3>Example:</h3>
		<code>make "A 0 <br>
repeat 36 <br>
[ <br>
    lt 10 <br>
    fd 10 <br>
    if :A==0 [pd] else [pu] <br>
    make "A 1-:A <br>
]</code>
		<h4><img src="/images/library_samples/pd.png"></h4><br/>

	<h2>penwidth</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> penwidth<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			penwidth <span class="type_style_number">number</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			Find the lines too thin? Set the width for the lines by yourself using
			<b>penwidth</b>. The following lines would be drew in the width of <span class="type_style_number">number</span>
			pixels.<br/>
		</p>

		<h3>Example:</h3>
		<code>make "A 0 <br>
repeat 36 <br>
[ <br>
    lt 10 <br>
    fd 10 <br>
    if :A==0 [penwidth 1] else [penwidth 5] <br>
    make "A 1-:A <br>
]</code>
		<h4><img src="/images/library_samples/penwidth.png"></h4><br/>

	<h2>color</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> color<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			color <span class="type_style_number">number</span> <span class="type_style_number">number</span> <span class="type_style_number">number</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			Do not like the boring black turtle and lines? You can set them to your own colour
			using <b>color</b> command. The three <span class="type_style_number">number</span>s
			represent the RGB value (from 0 to 255) of the following lines. If you do not know what is
			RGB, you can just pick one colour by clicking the "color" button under the canvas.<br/>
		</p>

		<h3>Example:</h3>
		<code>make "A 0 <br>
repeat 36 <br>
[ <br>
    if :A==0 [color 255 0 0] else [color 0 255 255] <br>
    lt 10 <br>
    fd 10 <br>
    make "A 1-:A <br>
]</code>
		<h4><img src="/images/library_samples/color.png"></h4><br/>

	<h2>clearscreen / cs</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> clear<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			clear<br/>
		</p>

		<h3>What's this?</h3>
		<p>
			Command <b>clearscreen / cs</b> is for clear the canvas. All the lines that has been
			drawn will be cleaned. But neither the turtle would return "home", nor the
			background colour would be cleaned.<br/>
		</p>

		<h3>Example:</h3>
		<code>make "A 0 <br>
repeat 36 <br>
[ <br>
    if :A==20 [clearscreen] <br>
    lt 10 <br>
    fd 10 <br>
    make "A :A+1 <br>
]</code>
		<h4><img src="/images/library_samples/clearscreen.png"></h4><br/>

	<h2>home</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> home<br/>
			<span class="type_style_Related">Related</span> setxy<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			home<br/>
		</p>

		<h3>What's this?</h3>
		<p>
			By using <b>home</b> command, you can move the turtle back to the centre of the
			canvas and reset the direction it is pointing to to upward direction. Notice that if <b>penup</b>
			is not used before <b>home</b>, a lined will be drew from the original position to
			the "home".<br/>
		</p>

		<h3>Example:</h3>
		<code>repeat 18 <br>
[ <br>
    lt 10 <br>
    fd 10 <br>
] <br>
home</code>
		<h4><img src="/images/library_samples/home.png"></h4><br/>

	<h2>setxy</h2>
		<h3>Name:</h3>
		<p>
			<span class="type_style_Standard">Standard</span> setxy<br/>
			<span class="type_style_Related">Related</span> home<br/>
		</p>

		<h3>Syntax:</h3>
		<p>
			setxy <span class="type_style_number">number</span> <span class="type_style_number">number</span><br/>
		</p>

		<h3>What's this?</h3>
		<p>
			<b>setxy</b> is not a standard Logo command, so we do not encourage you to
			use it in your program. Abuse of <b>setxy</b> can destroy both your code and
			your picture. But if you find it very important to you. Just feel free to use
			it. <b>setxy</b> can be regarded as a special version of <b>home</b>. The two
			<span class="type_style_number">number</span>s represent the coordinate position
			of the destination on canvas (the (0,0) is at the left-bottom of the canvas).
			Please notice that unlike <b>home</b>, the direction of the turtle will not be reset.<br/>
		</p>

		<h3>Example:</h3>
		<code>make "A 0 <br>
repeat 36 <br>
[ <br>
    if :A==18 [setxy 150 150] <br>
    lt 10 <br>
    fd 10 <br>
] <br>
home</code>
		<h4><img src="/images/library_samples/setxy.png"></h4><br/>
</div>