<div id="profile" class="container">
<div ng-if = 'message == "not logged in"'>
  <div class="alert alert-danger">You need to <a href="#/sign-in">log in</a> first</div>
</div>
<div >
<h2>Notification</h2>

<br /> 
<div class ="row">
<div class="col-sm-3 sidebar">
	<ul class="nav nav-pills nav-stacked">
  		<li ><a href="#/notification" data-ng-click="getUnreadComment()"><i class="fa fa-bell"></i>  Unread <span class="badge">14</span></a></li>
  		<li ><a href="#/notification" data-ng-click="getLike()"><i class="fa fa-heart"></i>  Like</a></li>
  		<li ><a href="#/notification" data-ng-click="getAll()"><i class="fa fa-check"></i>  All Notifications</a></li>
	</ul>
</div>
<div class="col-sm-9">


<table class="table table-striped" ng-if="showUnreadComment || showAll">
	<h2>Comments</h2>
	<thead>
		<tr>
			<th>Date</th>
			<th>Author</th>
			<th>Content</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>A</td>
			<td>B</td>
			<td>C</td>
		</tr>
	</tbody>
	
</table>


<table class="table table-striped" ng-if="showLike || showAll">
	<h2>Likes</h2>
	<thead>
		<tr>
			<th>Date</th>
			<th>Author</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="like in likes">
			<td>{{like.date}}</td>
			<td>{{like.liker.name}}</td>
		</tr>
	</tbody>
</table>
</div>