<div id="play" class="container">
	<div class="alert alert-success", data-ng-if="message == 'success'">Successfully shared.</div>
	<div class="alert alert-warning", data-ng-if="message == 'not logged in'">You need to <a href="#/sign-in" class="alert-link">log in</a> first.</div>
	<div class="row">
		<div id="canvas-pad" class="col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">
			<canvas id="bg" style="position: absolute; z-index: 1">
			Your browser does not support the canvas element.
			</canvas>
			<canvas id="lines" style="position: absolute; z-index: 2">
			</canvas>
			<canvas id="turtle" style="position: absolute; z-index: 3">
			</canvas>
			<canvas id="saving" style="position: absolute; z-index: 0">
			</canvas>
		</div>
		<div id="console-pad" class="col-sm-12 col-md-6 col-lg-5">
			<div class="row">
				<div class="col-sm-6 col-md-12">
					<p id="result-pad"></p>
				</div>
				<div class="col-sm-6 col-md-12">
					<textarea id="code-pad" data-ng-model="code" placeholder="Try something here!" autofocus spellcheck="false" onkeypress="return indentCode(id,event);" onkeydown="return ic_keydown(id,event);"></textarea>
					<button id="submit" class="btn btn-default" data-ng-click="on_submit_clicked()"><span class="glyphicon glyphicon-play"></span></button>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div id="control-buttons" class="col-md-12 col-lg-10 col-lg-offset-1">
			<div class="btn-group">
				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Delay <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>Interval: <input id="delay-tip" value="1" type="text" /></li>
						<li>
							<div id="slider-delay"></div>
						</li>
					</ul>
				</div>

				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Line <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>Width: <input id="line-tip" value="1" type="text" /></li>
						<li>
							<div id="slider-line"></div>
						</li>
					</ul>
				</div>

				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Color <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><div id="colorpalette-pen"></div></li>
					</ul>
				</div>

				<div class="btn-group dropup">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Background <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><div id="colorpalette-background"></div></li>
					</ul>
				</div>

				<button id="pen-status" type="button" class="btn btn-default" data-ng-click="toggle_pen()">Pen {{ pen_status ? 'up' : 'down' }}</button>
				<button id="border-status" type="button" class="btn btn-default" data-ng-click="toggle_border()">{{ border_status ? 'Disable' : 'Enable' }} border</button>
				<button id="turtle-status" type="button" class="btn btn-default" data-ng-click="toggle_turtle()">{{ turtle_status ? 'Hide': 'Show' }} Turtle</button>
				<button id="clear-canvas" type="button" class="btn btn-default" data-ng-click="clear_canvas()">Clear</button>
				<button id="add-image" type="button" class="btn btn-default" onclick="document.getElementById('imgInput').click()">Image</button>
				<button id="reset" type="button" class="btn btn-default" data-ng-click="reset()">Reset</button>
				<button id="share" type="button" class="btn btn-default" data-ng-click="share()">Share</button>
			</div>
			<input type="file" id="imgInput" onchange="readPicture(event,id);" hidden/>

		</div>
	</div>
</div>
