<div id="play" class="container">
	<div class="row">
		<div id="canvas-pad" class="col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">
			<canvas id="bg" style="position: absolute; z-index: 0">
			Your browser does not support the canvas element.
			</canvas>
			<canvas id="lines" style="position: absolute; z-index: 1">
			</canvas>
			<canvas id="turtle" style="position: absolute; z-index: 2">
			</canvas>
			<canvas id="saving" style="position: absolute; z-index: 2">
			</canvas>
		</div>
		<div id="console-pad" class="col-sm-12 col-md-6 col-lg-5">
			<div class="row">
				<div class="col-sm-6 col-md-12">
					<textarea id="result-pad" disabled>{{ result }}</textarea>
				</div>
				<div class="col-sm-6 col-md-12">
					<textarea id="code-pad" ng-model="code" placeholder="Try something here!"></textarea>
					<button id="submit" class="btn btn-default" ng-click="on_submit_clicked()"><span class="glyphicon glyphicon-play"></span></button>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div id="control-buttons" class="col-md-12 col-lg-10 col-lg-offset-1">
		<div class="btn-group">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Line <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="line in lines"><button>{{ line.thumbnail }}</button></li>
				</ul>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Pen color <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="color in colors"><button>{{ color.thumbnail }}</button></li>
				</ul>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Background color <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="color in colors"><button>{{ color.thumbnail }}</button></li>
				</ul>
			</div>

			<button type="button" class="btn btn-default" ng-click="toggle_pen()">Pen {{ pen_status ? 'up' : 'down' }}</button>
			<button type="button" class="btn btn-default" ng-click="toggle_return()">{{ return_status ? 'Disable' : 'Enable' }} return</button>
			<button type="button" class="btn btn-default" ng-click="toggle_turtle()">{{ turtle_status ? 'Hide': 'Show' }} Turtle</button>
			<button type="button" class="btn btn-default" ng-click="clear_canvas()">Clear</button>
			<button type="button" class="btn btn-default" ng-click="">Image</button>
			<button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
			<button type="button" class="btn btn-default" ng-click="share()">Share</button>
		</div>
		</div>
	</div>
</div>