<div id="profile" class="container">
<div ng-if = 'message == "not logged in"'>
  <div class="alert alert-danger">You need to <a href="#/sign-in">log in</a> first</div>
</div>
<div ng-if = 'message !="not logged in"'>
<div class="col-sm-3 sidebar">
	<br />
	<fieldset id="profile-image-controls">
		<img src="{{ user.avatar }}" class="img-thumbnail"/>
	</fieldset>
	<h3 class="text-info"> {{user.name}} </h3>

</div>
<div class="col-sm-9">
	<h3>Posts</h3>
	<div class = "row">
		<div ng-if='message == "success"' ng-repeat="post in posts" class="col-xs-6 col-md-4">
    		<a class="thumbnail" href="#/gallery/{{post._id}}">
        		<img id="profile_pic" src="{{ post.image_url }}" alt="">
      		</a>
      		<div class = "row">
      		<div class="col-xs-12 col-md-6">
      			<span class="glyphicon glyphicon-heart"></span>
      			<span class="glyphicon-class">{{ post.like }}</span>
      		</div>
      		<div class="col-xs-12 col-md-6">
      			<p><small>{{ post.create_time }}<small></p>
      		</div>
      		</div>
      		<div class = "row" ng-if="post.title"><p>{{post.title}}</p></div>
      		</br>
    	</div>
      <div ng-if='message == "null"'>
        <p>You have not posted anything yet. Go <a href="#/play">Play</a> and Share your codes!</p>
      </div>
	</div>
</div>
</div>
</div>