<div id="sign-up" class="container">
	<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Sign up by Email</h1>

	<div class="alert alert-danger" ng-if="message[0] != 'success'">{{ message[0] }}</div>

	<form action="/signup" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Sign up</button>
	</form>
	<hr>
	<p>Already have an account? <a href="#/sign-in">Login</a></p>
	<p>Or go <a href="#/">home</a>.</p>

	</div>
</div>