<div id="tutorial" class="container">
	<h1>Tutorial</h1>
	<ul>
		<li><b>Draw a straight line:</b><br>
			<code>forward 50</code> || <code>fd 50</code>
		</li>
		<li><b>Try more simple commands:</b><br>
			Backward move 50 pixels: <code>backword 50</code> || <code>bk 50</code><br>
			Turtle left turns 90 degrees: <code>left 90</code> || <code>lt 90</code><br>
			Turtle right turns 90 degrees: <code>right 90</code> || <code>rt 90</code><br>
		</li>
		<li><b>Repeat commands</b><br>
			With repeat commands, you dont have to type same commands again and again.<br>
			Try these codes: <code>repeat 360 [lt 1 fd 1]</code>

		</li>
		<li></li>
		<li></li>
	</ul>
</div>